etc/goland/eval
etc/goland/options/actionSummary.xml
etc/goland/options/updates.xml
etc/goland/options/usage.statistics.xml
etc/goland/options/window.state.xml
etc/goland/port
etc/goland/port.lock
etc/goland/ssl
var
