[submodule "blink.cmp"]
	path = etc/nvim/pack/matthewtodd/start/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "blink.lib"]
	path = etc/nvim/pack/matthewtodd/start/blink.lib
	url = https://github.com/saghen/blink.lib
[submodule "commentary"]
	path = etc/nvim/pack/matthewtodd/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "fish"]
	path = etc/nvim/pack/matthewtodd/start/fish
	url = https://github.com/dag/vim-fish
[submodule "fugitive"]
	path = etc/nvim/pack/matthewtodd/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "indentobject"]
	path = etc/nvim/pack/matthewtodd/start/indentobject
	url = https://github.com/austintaylor/vim-indentobject
[submodule "lazydev"]
	path = etc/nvim/pack/matthewtodd/start/lazydev
	url = https://github.com/folke/lazydev.nvim
[submodule "lspconfig"]
	path = etc/nvim/pack/matthewtodd/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "mini.icons"]
	path = etc/nvim/pack/matthewtodd/start/mini.icons
	url = https://github.com/nvim-mini/mini.icons
[submodule "plenary"]
	path = etc/nvim/pack/matthewtodd/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "repeat"]
	path = etc/nvim/pack/matthewtodd/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "rhubarb"]
	path = etc/nvim/pack/matthewtodd/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "sensible"]
	path = etc/nvim/pack/matthewtodd/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "shellcheck"]
	path = etc/nvim/pack/matthewtodd/start/shellcheck
	url = https://github.com/itspriddle/vim-shellcheck
[submodule "sleuth"]
	path = etc/nvim/pack/matthewtodd/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "snacks"]
	path = etc/nvim/pack/matthewtodd/start/snacks
	url = https://github.com/folke/snacks.nvim
[submodule "surround"]
	path = etc/nvim/pack/matthewtodd/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "typescript-tools"]
	path = etc/nvim/pack/matthewtodd/start/typescript-tools
	url = https://github.com/pmizio/typescript-tools.nvim
[submodule "unimpaired"]
	path = etc/nvim/pack/matthewtodd/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vinegar"]
	path = etc/nvim/pack/matthewtodd/start/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "window-places"]
	path = etc/hammerspoon/Spoons/WindowPlaces.spoon
	url = https://github.com/matthewtodd/WindowPlaces.spoon
