[submodule "vim/rails"]
	path = vim/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/cucumber"]
	path = vim/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/surround"]
	path = vim/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/nerdtree"]
	path = vim/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
